*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    max-width: 1920px;
}

.container{
 max-width: 100%;
 margin: 0 auto;
}

/* header area css */
.container .header{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding:  15px 45px 15px 65px;
}

.container .header .logo img{
  width: 50px;
  height: 85px;
}

.container .header .src{
    margin-left: 56px;
}
.container .header .src .srcbox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #e7e7e7;
    border-radius: 8px;
    padding: 15px;
    max-width: 460px;

}

.container .header .src .srcbox input:focus{
 outline: none !important;
}
.container .header .src .srcbox input{
 border: none;
 width: 90%
}

.container .header .src .srcbox i{
    color:#e7e7e7 ;
    cursor: pointer;
}

.container .header .nav a{
    text-decoration: none;
    color: #404040;
}
.container .header .nav{
    margin-left: 56px;
}
.container .header .nav nav ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 100px;
}
.container .header .nav nav ul li {
    list-style: none;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container .header .reg{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    gap: 8px;
}

.container .header .reg button{
    cursor: pointer;
   padding: 10px;
   background-color: #49ce8c;
   border-radius: 10px;
   border: none;
   color: white;
   width: 90px;
}
.container .header .reg .btn2{
    background-color: #005c2d;
}

/* header area ends */
/* hero area */

.container .hero img{
    width: 100%;
}







/* about section css */

.container .about{
    padding: 60px 175px 0px 132px;
    margin-bottom: 80px;
}
.container .about .title{
    text-align: center;
    margin-bottom: 50px;
}

.container .about .title h2{
    font-size: 46.50px;
    color: #005b2d;
    margin-bottom: 20px;
}
.container .about .title p{
    font-size: 30px;
    color: #404040;
    /* word-spacing: 3px; */
}


.container .about .desc{
    padding: 0 100px;
    padding-right: 0;
}

/* .container .about .desc .itm1, .container .about .desc .itm2{
    padding-right: 117px;
} */
.container .about .desc .item{
    display: flex;
    gap: 75px;
}

.container .about .desc .item .img img{
    width: 212px;
    height: 232px;
}
.container .about .desc .itm2 .img img{
    width: 212px;
    height: 221px;
    margin-top: 15px;
}

.container .about .desc .item .text{
    padding-top: 25px;
}
.container .about .desc .item .text h3{
    font-size: 30px;
    color: #005b2d;
    margin-bottom: 20px;
}
.container .about .desc .item .text p{
    font-size: 23.50px;
    color: #404040;
    margin-bottom: 28px;
}

.container .about .desc .itm2  .text{
   padding-top: 0;
}

.container .about .desc .itm2 button{
   cursor: pointer;
   padding: 15px 42px;
   background-color: #49ce8c;
   border-radius: 10px;
   border: none;
   color: white;
}

.container .about .desc .itm2 button span{
    font-size: 25px;
}










/* Charities section */

.charities{
    padding: 0 164px 0 120px;
    margin-bottom: 100px;
}

.charities .title{
    text-align: center;
}
.charities .title h2{
    font-size: 46.50px;
    color: #005b2d;
    margin-bottom: 40px;
}

.charities .options{
    display: grid;
    grid-template-columns: 48% 48%;
    gap: 2%;
    row-gap: 10%;
}

.charities .options img{
    width: 100%;
    height: 100%;
}





/* app section css*/

.app{
    background: url(./Assets/app-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height:485px ;
    /* width: 100%; */
}

.app .bxs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 90px;
}

.app button{
    padding: 20px 70px;
    background-color: #49ce8c;
    font-size: 36px;
    border-radius: 10px;
    border: none;
    color: white;
    cursor: pointer;
}

/* .app .bxs .str{
    display: flex;
    flex-direction: column;
    gap: 15px;
} */





/* Donor section css */

.donor{
    background: #49ce8c;
    display: flex;
    padding: 32px 0 35px 185px;
    gap: 216px;
}


.donor .asd .user{
    background: white;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 20px;
}

.donor .asd h3{
    font-size: 30px;
    color: white;
    text-align: center;
    margin-bottom: 25px;
}

.donor .asd p{
    font-size: 25.30px;
    color: #def6ea;
    margin-bottom: 20px;
    margin-left: 17px;
}


.asd button{
    background-color: #005c2d;
    color: white;
    padding: 20px 80px 20px 75px;
    border-radius: 10px;
    cursor: pointer;
}
.asd button span{
    font-size: 25px;
}
.aso button{
    background-color: #005c2d;
    color: white;
    padding-left: 42px;
    padding-right: 42px;
    margin-top: auto;
}

.aso{
    display: flex;
    flex-direction: column;

}







/* contact section css */

.contact{
    padding: 80px 0 0 145px;
    display: flex;
    gap: 90px;
}

.contact .textmap{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.contact .textmap h2{
    font-size:46.50px;
    color: #005c2d;
}

.contact .textmap .pn span{
    font-size: 23.50px;
    color: #404040;
}
.contact .textmap .pn .spn2{
    color: #707070;
}
.contact .textmap .pn p{
    font-size: 23.50px;
    color: #707070;
}
.contact .textmap .pn{
  display: flex;
  gap: 29px;
}



.contact .form form{
    display: grid;
    gap: 30px;
    width: 580px;
    max-width: 580px;
    height: 100%;
}

.contact .form form input, textarea{
    border: 1px solid #707070;
    padding: 15px 30px;
    border-radius: 50px;
    width: 580px;
    font-size: 23.50px;
}

.contact .form form .sub{
    padding: 20px 43px;
    background-color: #005c2d;
    color: white;
    font-size: 23.50px;
    width: 170px;
    cursor: pointer;
    border-radius: 10px;
}





/* footer */

footer{
    background: #005c2d;
    padding: 60px 0px 70px 155px;
    margin-top: 7px;
    display: flex;
}

footer .links{
    margin-left: 380px;
    padding-top: 10px;
}

footer .links ul{
    display: flex;
    flex-direction: column;
    gap: 32px;
}
footer .links ul a{
    text-decoration: none;
    color: white;
    font-size: 23.50px;
}
footer .links ul li{
    list-style: none;
}
.addr .pn span{
    font-size: 23.50px;
    color: white;
}
.addr .pn p{
    font-size: 23.50px;
    color: #e7e7e7;
}
.addr .pn{
  display: flex;
  gap: 29px;
}

.addr{
    margin-left: 150px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    padding-top: 10px;
}

.addr .pn .sp2{
    color: #f8f9f9c9;
}